$theme-colors: (
    "primary": #e12717,
  );
  $body-bg: #f1f1f1;
$body-color: #111;
$border-radius: 1rem;
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';